<div class="fragment_1413">
	<div class="custom-form-control">
		<span class="badge badge-secondary"><span class="badge-item badge-item-expand">Change request</span></span>
		<span class="badge badge-secondary"><span class="badge-item badge-item-expand">Incident report</span></span>
		<span class="badge badge-primary"><span class="badge-item badge-item-expand">Service request</span></span>
	</div>
	<div class="form-group">
		
			
		
		<label for="regularSelectElement">Location</label>
		<select class="form-control" id="regularSelectElement">
			<option>Helsinki</option>
			<option>Oulu</option>
		</select>
			
		
		<label for="severitySelectElement">Severity</label>
		<select class="form-control" id="severitySelectElement">
			<option>1 - Minor</option>
			<option>2 - Moderate</option>
			<option>3 - Serious</option>
			<option>4 - Severe</option>
			<option>5 - Critical</option>
		</select>
		
		<div class="form-group">
	<label for="basicInputTypeTextarea">Description</label>
	<textarea
		class="form-control"
		id="basicInputTypeTextarea"
		placeholder="Placeholder"
	></textarea>
</div>
		
		<button class="btn btn-link" type="button">Clear</button>
		<button class="btn btn-primary" type="button">Submit</button>
			
	</div>
</div>